#sidebar {
  width: $filter-width;
  background-color: #fff;
  border-radius: $border-radius;
  @include box-shadow(0 0 4px 0 rgba(0,0,0,.04));
  margin-bottom: 30px;

  @media screen and (min-width: $x-lg-width) {
    width: $lg-filter-width;
  }

  .sidebar_section {
    padding: 15px 20px;

    h3 {
      margin: 0 0 10px 0;
    }

    .label {
      display: block;
      text-align: left;
    }

    .input {
      margin-bottom: 10px;

      input, select {
        height: 30px;
        padding: 3px 5px;
        font-size: 12px;
      }
    }

    .select_and_search {
      input, select {
        width: 45%;
        display: inline-block;  
      }

      input {
        float: right;
      }
    }

    .filter_select select {
      width: 100%;
    }

    .filter_date_range input {
      width: 45%;
      display: inline-block;

      // consistent look of all filters
      &:nth-child(2) {
        float: right;
      }
    }

    input[type="submit"] {
      width: auto;
      line-height: 31px;
      margin-right: 10px;
    }

    &.panel {
      position: relative;
    }
  }

  #search-status-_sidebar_section {
    font-size: 14px;
  }

  // 'Filter' and 'Clear Filters' buttons
  .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }
}
