body.active_admin.logged_in {
  padding-top: 50px;

  @media screen and (min-width: $screen-sm) {
    padding-top: 60px;
  }

  @media screen and (min-width: $screen-lg) {
    padding-left: $site-title-width-md;
  }

  @media screen and (min-width: $screen-xl) {
    padding-left: $site-title-width-lg;
  }

  #active_admin_content {
    padding: 0;
    @include clear-fix();

    @media screen and (min-width: $screen-lg) {
      padding: 0 $space-4;
    }
  }
}

.header {
  .site_title {
    width: 160px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $header-background;
    border-bottom: 1px solid $header-border-color;
    text-align: center;
    margin: 0;

    @media screen and (min-width: $screen-sm) {
      width: $site-title-width-md;
      height: 60px;
      font-size: 20px;
      line-height: 60px;
    }

    @media screen and (min-width: $screen-xl) {
      width: $site-title-width-lg;
    }
    
    #site_title_image {
      height: 100%;
      padding: 6px 0;
    }
  }

  #utility_nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    width: calc(100% - 160px);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    text-align: right;
    background-color: $header-background;
    border-bottom: 1px solid $header-border-color;

    &:before {
      @include icon($icon-menu);

      display: inline;
      visibility: visible;
      cursor: pointer;
      position: absolute;
      top: 0;
      left: 0;
      color: $fg-default;
      padding: $space-4 0;
      text-align: center;
      width: 40px;
      font-size: 20px;
    }

    @media screen and (min-width: $screen-sm) {
      height: 60px;
      width: calc(100% - $site-title-width-md);

      &:before {
        padding: $space-4 0;
      }
    }

    @media screen and (min-width: $screen-lg) {
      &:before {
        display: none;
      }
    }

    @media screen and (min-width: $screen-xl) {
      width: calc(100% - $site-title-width-lg);
    }

    li {
      display: inline-block;
      @include transition-button();

      &:hover {
        background-color: $header-nav-action-hover-background;
      }

      &:active {
        background-color: $header-nav-action-active-background;
      }
    }

    #current_user {
      a {
        color: transparent;
        position: relative;
        width: 50px;
        height: 49px;
        display: inline-block;

        &:before {
          @include icon($icon-user);

          display: inline;
          visibility: visible;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          color: $fg-default;
          padding: $space-4 0;
          text-align: center;
          width: 50px;
          font-size: 20px;
        }

        @media screen and (min-width: $screen-sm) {
          width: 60px;
          height: 59px;

          &:before {
            padding: $space-4 0;
            width: 60px;
          }
        }
      }
    }

    #logout {
      min-width: 50px;
      min-height: 49px;
      float: right;

      a {
        color: transparent;
        position: relative;
        width: 50px;
        display: block;

        &:before {
          @include icon($icon-logout);

          display: inline;
          visibility: visible;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          color: $fg-muted;
          padding: $space-4 0;
          text-align: center;
          width: 50px;
          font-size: 20px;
        }

      }
      
      @media screen and (min-width: $screen-sm) {
        min-width: 60px;
        min-height: 59px;

        a {
          width: 60px;
          height: 59px;

          &:before {
            padding: $space-4 0;
            width: 60px;
          }
        }
      }
    }
  }
}

#title_bar {
  display: flex;
  justify-content: space-between;
  padding: $space-6 $space-4;
  @include clear-fix();

  #titlebar_left {
    display: inline-block;
    float: left;
    line-height: 29px;

    h2 {
      display: inline-block;
      font-size: $font-2xl;
    }
  }

  #titlebar_right {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-right: $space-4;

    .action_item a {
      @include primary-button($button-primary-color, #fff);
      padding: $space-1 $space-2;
    }
  }

  #page_title {
    font-weight: normal;
    margin: 0;
  }
}
