#main_content_wrapper {
  float: left;
  width: 100%;

  @include clear-fix();
}

#active_admin_content.with_sidebar #main_content_wrapper {
  width: 100%;

  @media screen and (min-width: $screen-sm) {
    #main_content {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  @media screen and (min-width: $screen-lg) {
    #main_content {
      margin-right: $space-4;
    }
  }

  @media screen and (min-width: $screen-lg) {
    #main_content {
      margin-right: $space-4;
    }
  }
}

#main_content {
  background-color: $white;
  @include box-shadow(0 0 4px 0 rgba(0,0,0,.04));
  padding: $space-4 $space-2;

  @media screen and (max-width: $screen-xs) {
    overflow-x: scroll;
  }

  @media screen and (min-width: $screen-lg) {
    padding: $space-4;
    border-radius: $border-radius;
  }
}
