#main_content_wrapper {
  float: left;
  width: 100%;

  @include clear-fix();
}

#active_admin_content.with_sidebar #main_content_wrapper {
  width: 100%;

  @media screen and (min-width: $sm-width) {
    #main_content {
      border-top-right-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  @media screen and (min-width: $lg-width) {
    #main_content {
      margin-right: 20px;
    }
  }

  @media screen and (min-width: $lg-width) {
    #main_content {
      margin-right: 20px;
    }
  }
}

#main_content {
  background-color: #fff;
  @include box-shadow(0 0 4px 0 rgba(0,0,0,.04));
  padding: 15px 10px;

  @media screen and (max-width: 576px) {
    overflow-x: scroll;
  }

  @media screen and (min-width: $lg-width) {
    padding: 20px;
    border-radius: $border-radius;
  }
}