body.logged_in {
  &.new, &.edit, &.create, &.update {
    .formtastic legend {
      font-weight: normal;
    }

    .input {
      .label {
        width: 25%;
        float: left;
        height: 25px;
        text-align: left;
        padding-right: 20px;
        margin: auto 0;
      }

      input {
        width: 50%;

        &[type='radio'] {
          width: auto;
        }
      }

      &.boolean {
        margin-left: 25%;

        input {
          width: auto;
        }
      }

      li.fragment {
        display: inline;
      }

      .inline-errors {
        padding-left: 25%;
      }
    }

    .actions {
      padding-left: 25%;
    }
  }
}
