body.logged_in {
  &.new, &.edit, &.create, &.update {
    .formtastic legend {
      font-weight: normal!important;
    }

    .input {
      .label {
        padding-bottom: 5px;
        text-align: left;
        margin: auto 0;

        @media screen and (min-width: $sm-width) {
          padding-bottom: 0;
          height: 25px;
          width: 25%;
          float: left;
          padding-right: 20px;
        }
      }

      input {
        @media screen and (min-width: $sm-width) {
          width: 50%;
        }

        &[type='radio'] {
          width: auto;
        }
      }

      select {
        min-width: 50%;
        height: 30px;
      }

      .fragment {
        margin-right: 10px;
        
        label {
          padding-right: 5px;
        }

        select {
          min-width: auto;
        }
      }

      &.boolean {
        margin-left: 25%;

        input {
          width: auto;
        }
      }

      li.fragment {
        display: inline;
      }

      li.choice {
        margin-left: 25%;
      }

      .inline-errors {
        padding-left: 25%;
      }
    }

    .actions {
      padding-left: 25%;
    }
  }
}
