body.logged_out {
  .flash {
    position: fixed;
  }

  #active_admin_content {
    height: 100vh;
    width: 100%;
    display: inline-flex;
  }
}

#login {
  width: 100%;
  margin: auto;
  background-color: white;
  border-top: 3px solid $primary-color;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.04);
  color: $text-color;
  padding: 20px;

  @media screen and (min-width: 400px) {
    border-radius: 3px;
    width: 400px;
    padding: 30px;
  }

  h2 {
    text-align: center;
  }

  .label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
  }

  a {
    margin-top: 10px;
    display: inline-block;
  }

  .input_action {
    min-width: 50%;
  }

  input[type="submit"] {
    line-height: 43px;
  }
}