.admin_namespace {
  padding-left: $header-width;
  padding-top: 60px;

  @media screen and (min-width: $lg-width) {
    padding-left: $lg-header-width;
  }

  #active_admin_content {
    padding: 30px 25px;
    
    @include clear-fix();
  }
}

.header {
  .site_title {
    width: $header-width;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $header-background;
    border-bottom: 1px solid $header-border-color;
    font-size: 20px;
    text-align: center;
    margin: 0;
    line-height: 60px;

    @media screen and (min-width: $lg-width) {
      width: $lg-header-width;
    }
  }

  #utility_nav {
    height: 60px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    text-align: right;

    li {
      display: inline-block;
      @include transition-button();

      &:hover {
        background-color: $header-nav-action-hover-background;
      }

      &:active {
        background-color: $header-nav-action-active-background;
      }
    }

    #current_user {
      a {
        visibility: hidden;
        position: relative;
        width: 60px;
        height: 59px;
        display: inline-block;

        &:before {
          @include icon("\f007");

          display: inline;
          visibility: visible;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          color: $text-color;
          padding: 20px 0;
          text-align: center;
          width: 60px;
          font-size: 20px;
        }
      }
    }

    #logout {
      min-width: 60px;
      min-height: 59px;
      float: right;

      a {
        visibility: hidden;
        position: relative;

        &:before {
          @include icon("\f011");

          display: inline;
          visibility: visible;
          cursor: pointer;
          position: absolute;
          top: 0;
          right: 0;
          color: $text-color;
          padding: 20px 0;
          text-align: center;
          width: 60px;
          font-size: 20px;
        }
      }
    }
  }
}

#title_bar {
  height: 60px;
  width: $screen-header-width;
  background-color: $header-background;
  position: fixed;
  top: 0;
  left: $header-width;
  border-bottom: 1px solid $header-border-color;
  padding: 0 20px;
  z-index: 2;

  @media screen and (min-width: $lg-width) {
    width: $lg-screen-header-width;
    left: $lg-header-width;
  }

  #titlebar_left {
    padding-top: 6px;
    display: inline-block;
    float: left;

    h2:nth-child(1) {
      line-height: 48px;
    }
  }

  #titlebar_right {
    display: inline-block;
    margin-left: 20px;

    .action_item a {
      color: $text-color;
      display: inline-block;
      @include transition-button();
      padding: 20px 12px;
      float: left;

      &:hover {
        background-color: $header-nav-action-hover-background;
      }

      &:active {
        background-color: $header-nav-action-active-background;
      }
    }
  }

  #page_title {
    margin: 0;
  }
}