// BASIC COLOR
$red: #B02B2C !default;
$green: #00897B !default;
$blue: #4bacfe !default;
$black: #36393D !default;
$grey: #76838f !default;

$white: #fff;

// green
$apple-50: #f2fbf2;
$apple-100: #e1f7e1;
$apple-200: #c4eec4;
$apple-300: #96df96;
$apple-400: #61c762;
$apple-500: #3caf3e;
$apple-600: #2c8d2e;
$apple-700: #257027;
$apple-800: #225924;
$apple-900: #1e4920;
$apple-950: #0b280d;

// blue
$picton-blue-50: #eff8ff;
$picton-blue-100: #daedff;
$picton-blue-200: #bde1ff;
$picton-blue-300: #90cfff;
$picton-blue-400: #4bacfe;
$picton-blue-500: #3693fb;
$picton-blue-600: #2075f0;
$picton-blue-700: #185edd;
$picton-blue-800: #1a4cb3;
$picton-blue-900: #1b448d;
$picton-blue-950: #152a56;

// red
$tall-poppy-50: #fdf3f3;
$tall-poppy-100: #fce4e4;
$tall-poppy-200: #f9cfcf;
$tall-poppy-300: #f4adae;
$tall-poppy-400: #ec7d7e;
$tall-poppy-500: #e05354;
$tall-poppy-600: #cc3637;
$tall-poppy-700: #b02b2c;
$tall-poppy-800: #8e2627;
$tall-poppy-900: #762627;
$tall-poppy-950: #400f0f;

// grey
$grey-50: #f5f5f5;
$grey-100: #efefef;
$grey-200: #dcdcdc;
$grey-300: #bdbdbd;
$grey-400: #989898;
$grey-500: #7c7c7c;
$grey-600: #656565;
$grey-700: #525252;
$grey-800: #464646;
$grey-900: #3d3d3d;
$grey-950: #292929;

// orange
$zest-50: #fdf8ed;
$zest-100: #f9eccc;
$zest-200: #f3d794;
$zest-300: #ecbd5d;
$zest-400: #e8a637;
$zest-500: #e0861f;
$zest-600: #c66619;
$zest-700: #a54818;
$zest-800: #86391a;
$zest-900: #6f3018;
$zest-950: #3f1709;

// flash
$error: $tall-poppy-700 !default;
$warning: $zest-400 !default;
$success: $apple-500 !default;
$info: $picton-blue-300 !default;
$flash-text-color: $white !default;
$flash-background-color: $grey-50 !default;

// status_tag
$status-tag-text-color: $white !default;
$status-tag-background-color: $grey-400 !default;
$status-tag-background-valid-color: $success !default;
$status-tag-background-error-color: $error !default;

$border-color: $grey-100 !default;

// body
$body-background: $grey-100 !default;

// header
$header-border-color: $grey-100 !default;
$header-background: $white !default;

// nav action
$header-nav-action-hover-background: $grey-100 !default;
$header-nav-action-active-background: $grey-100 !default;

//sidebar
$sidebar-border-color: $grey-200 !default;
$sidebar-background: $grey-50 !default;
$sidebar-item-hover-background: $grey-100 !default;
$sidebar-nested-item-hover-background: $grey-200 !default;

// text
$fg-default: $grey-900 !default;
$fg-muted: $grey-600 !default;
$fg-subtle: $grey-500 !default;
$fg-on-emphasis: $white !default;

$primary-color: $picton-blue-400 !default;
$link-primary-color: $primary-color !default;
$button-primary-color: $primary-color !default;
