$header-width: 200px !default;
$screen-header-width: calc(100% - 200px) !default;
$lg-header-width: 250px !default;
$lg-screen-header-width: calc(100% - 250px) !default;

$filter-width: 230px !default;
$screen-filter-width: calc(100% - 230px) !default;
$lg-filter-width: 270px !default;
$lg-screen-filter-width: calc(100% - 270px) !default;

$font-size: 14px !default;
$input-height: 36px !default;
