@import "font-awesome";

@import "reset";
@import "fonts";
@import "variables/variables";

@import "mixins/mixins";

@import "common";
@import "grid";

@import "components/components";

@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/main_content";
@import "layouts/filter";
@import "layouts/footer";

@import "pages/login";
@import "pages/index";
@import "pages/show";
@import "pages/form";

body {
  font-family: "LatoWeb", Arial, sans-serif;
  background-color: $body-background;
  color: $text-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}
