@import "font-awesome";

@import "reset";
@import "fonts";
@import "variables/variables";

@import "mixins/mixins";

@import "common";
@import "grid";

@import "components/*";
@import "layouts/*";
@import "pages/*";

body {
  font-family: "LatoWeb", Arial, sans-serif;
  background-color: $body-background;
  color: $text-color;
}

a {
  color: $primary-color;
  text-decoration: none;
}
