.button {
  @include primary-button($primary-color, #fff);
  padding: 5px 8px;
  font-size: 16px;

  &.small {
    padding: 2px 9px;
    font-size: 12px;
  }

  &.large {
    padding: 10px;
    font-size: 18px;
  }

  &.action {
    margin-right: 4px;
  }
}
