.button {
  @include primary-button($primary-color, $white);
  padding: $space-1 $space-2;
  font-size: $font-md;

  &.small {
    padding: $space-0-1 $space-2;
    font-size: $font-sm;
  }

  &.large {
    padding: $space-2;
    font-size: $font-lg;
  }

  &.action {
    margin-right: $space-1;
  }
}
