code {
  display: block;
  background-color: #272822;
  padding: 5px;
  color: white;
}

hr {
  border: 1px solid $primary-color;  // $border-color;
  color: $primary-color;  // $border-color;
  margin: 10px auto 25px auto;
}