.comments {
  margin-top: 20px;
  @include clear-fix();

  h3 {
    margin: 0 0 10px 0;
  }
  
  .panel_contents .empty {
    margin-bottom: 10px;
    display: inline-block;
  }

  .active_admin_comment:not(#new_active_admin_comment) {
    margin-bottom: 20px;
    border: 1px solid $border-color;

    .active_admin_comment_meta {
      background-color: $sidebar-background;
      padding: 8px 10px;

      .active_admin_comment_author {
        margin: 0;
        display: inline-block;
      }

      span { // date
        font-size: 14px;
        font-style: italic;
        line-height: 21px;
      }

      a[data-method="delete"] {
        @include primary-button($primary-color, white);
        padding: 2px 9px;
        font-size: 12px;
        float: right;
      }
    }

    .active_admin_comment_body {
      padding: 0 10px;
    }
  }

  .pagination_information {
    margin-bottom: 20px;
  }
}
