.ui-dialog {
  background-color: $white;
  @include box-shadow($box-shadow);
  border-radius: $border-radius;
  padding: $space-4 $space-2;
  z-index: 1;

  &:focus, &:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline: 0;
  }

  .ui-button {
    @include primary-button($primary-color, #fff);
    border: 0;
    margin-right: $space-1;
    padding: $space-1 $space-2;
  }

  .ui-dialog-titlebar-close {
    display: none;
  }
}
