.flash {
  width: 100%;
  padding: $space-4;
  border-left: $space-1 solid;
  text-align: left;
  background-color: $bg-subtle;
  color: $fg-muted;
}

.flash_alert, .flash_error {
  background-color: $danger-subtle;
  color: $danger-fg;
  border-color: $danger-fg;
}

.flash_warning {
  background-color: $attention-subtle;
  color: $attention-fg;
  border-color: $attention-fg;
}

.flash_notice {
  background-color: $success-subtle;
  color: $success-fg;
  border-color: $success-fg;
}

.flash_info {
  background-color: $accent-subtle;
  color: $accent-fg;
  border-color: $accent-fg;
}
