.label {
  display: inline-block;
  margin-bottom: $space-1;
}

.input {
  margin-bottom: $space-4;

  &.hidden {
    margin: 0;
  }
}

#active_admin_content {
  form {
    li {
      list-style: none;
    }

    legend:not(.label) {
      margin-bottom: $space-6;
      font-size: $font-lg;
      display: block;
      width: 100%;
      padding-bottom: $space-4;
      border-bottom: 1px solid $body-background;
    }

    .error {
      input, select, textarea {
        @include input-invalid();
      }
    }

    input:not([disabled]):not([type="submit"]), select, textarea {
      &.error {
        @include input-invalid();
      }
    }
    
    .inline-hints {
      margin: $space-1 0 $space-4 0;
      font-size: $font-md;
      font-style: italic;
    }

    .inline-errors, label.error {
      color: $error;
      margin-top: $space-1;
      margin-bottom: $space-4;
      font-size: $font-md;
    }

    label.error {
      display: block;
    }

    .actions {
      ol {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        gap: $space-4;
      }

      .action input {
        @include primary-button($primary-color, $white);
      }

      .cancel a {
        @include tertiary-button-default();
      }
    }
  }
}
