.label {
  display: inline-block;
  margin-bottom: 5px;
}

.input {
  margin-bottom: 20px;

  &.hidden {
    margin: 0;
  }
}

#active_admin_content {
  form {
    li {
      list-style: none;
    }
    
    legend:not(.label) {
      margin-bottom: 28px;
      font-size: 18px;
      display: block;
      width: 100%;
      padding-bottom: 12px;
      border-bottom: 1px solid $body-background;
    }

    .error {
      input, select, textarea {
        @include input-invalid();
      }
    }

    input:not([disabled]):not([type="submit"]), select, textarea {
      &.error {
        @include input-invalid();
      }
    }
    
    .inline-hints {
      margin: 5px 0 20px 25%;
      font-size: $font-size;
      font-style: italic;
    }

    .inline-errors, label.error {
      color: $error;
      margin-top: 5px;
      margin-bottom: 20px;
      font-size: $font-size;
    }

    label.error {
      display: block;
      margin-left: 25%;
    }
    
    .button.has_many_remove {
      @include tertiary-button($red);
    }
    
    .button.has_many_add {
      @include secondary-button($primary-color);
    }
  }

  .actions {
    .action {
      display: inline-block;
      margin-right: 10px;

      input[type="submit"] {
        line-height: 43px;
      }
    }

    .cancel {
      display: inline-block;
    }
  }
}
