.pagination {
  font-size: 13px;
  margin-bottom: 10px;

  .page {
    text-align: center;
  }

  .page a, .next a, .last a, .first a, .prev a {
    padding: .3rem .4rem;
    color: $text-color;
    @include transition-button();

    &:hover {
      color: $link-primary-color;
    }
  }
  .page.current {
    background-color: $link-primary-color;
    color: #fff;
    border-radius: $border-radius;
    padding: .3rem .4rem;
    cursor: normal;
  }
}