.pagination {
  font-size: 13px;
  margin-bottom: $space-4;

  .page {
    text-align: center;
  }

  .page a, .next a, .last a, .first a, .prev a {
    padding: $space-1 $space-2;
    color: $fg-default;
    @include transition-button();

    &:hover {
      color: $link-primary-color;
    }
  }
  .page.current {
    background-color: $link-primary-color;
    color: $white;
    border-radius: $border-radius;
    padding: $space-1 $space-2;
    cursor: normal;
  }
}

.pagination_information {
  margin-bottom: $space-4;
  color: $fg-muted;
}
