.panel_contents {
  .paginated_collection {
    #index_footer {
      margin: $space-2;
      text-align: right;
      font-size: $font-sm;
    }
  }

  th {
    text-align: left;
    color: $fg-muted;
  }
}
