.status_tag {
  background: $status-tag-background-color;
  color: $status-tag-text-color;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.8em;
  border-radius: $border-radius;

  &.ok, &.published, &.complete, &.completed, &.green, &.yes {
    background-color: $status-tag-background-valid-color;
  }

  &.cancel, &.red, &.no {
    background-color: $status-tag-background-error-color;
  }
}
