.tabs.ui-tabs {
  border: 1px solid $border-color;

  .nav {
    border-bottom: 1px solid $border-color;
    
    li {
      display: inline-block;
      text-align: center;
      @include outline();

      a {
        color: $text-color;
        display: inline-block;
        padding: 15px 25px;
        @include outline();
        @include transition-button();
      }
      
      &.ui-tabs-active {
        border-bottom: 2px solid $link-primary-color;

        a {
          color: $link-primary-color;
        }
      }
    }
  }

  .tab-content {
    padding: 10px 20px;
  }
}