.tabs.ui-tabs {
  @include card();
  padding: $space-0;
  margin-bottom: $space-4;

  .nav {
    border-bottom: 1px solid $border-color;
    
    li {
      display: inline-block;
      text-align: center;
      @include outline();

      a {
        color: $fg-default;
        display: inline-block;
        padding: $space-4 25px;
        @include outline();
        @include transition-button();
      }
      
      &.ui-tabs-active {
        border-bottom: 2px solid $link-primary-color;

        a {
          color: $link-primary-color;
        }
      }
    }
  }

  .tab-content {
    padding: $space-4;
  }

  table {
    margin-bottom: $space-0;
  }
}
