table {
  width: 100%;
  border-collapse: collapse;

  &:not(.index_table) {
    border-radius: $border-radius;
    margin-bottom: $space-4;
  }
}

thead tr {
  border: 1px solid $border-color;
  background-color: $border-color;
}

thead th {
  font-size: 12px;
  text-align: left;
  color: $fg-muted;

  a {
    color: $fg-muted;
    font-weight: normal;
    width: 100%;
    display: inline-block;
    padding: $space-2 $space-4 $space-2 $space-2;

    @media screen and (min-width: $screen-md) {
      padding: $space-3 $space-4 $space-3 $space-3;
    }
  }

  &.col-selectable {
    padding-left: 4px;

    @media screen and (min-width: $screen-md) {
      padding-left: 8px;
    }
  }
}

tbody tr {
  th {
    font-size: $font-md;
  }

  td {
    padding: 4px;
    vertical-align: middle;
    color: $fg-default;
    font-size: 12px;

    &.col-actions {
      padding: 6px 8px;
    }

    @media screen and (min-width: $screen-md) {
      padding: 8px;
    }
  }
}

// style only for table
.index_as_table {
  tbody tr {
    border: 1px solid $border-color;

    &:hover {
      background-color: rgba(228, 234, 236, 0.3);
    }

    a {
     color: $fg-default;
     &:hover {
       text-decoration: underline;
     }
   }
  }
}
