$sm-width: 576px !default;
$md-width: 768px !default;
$lg-width: 992px !default;
$x-lg-width: 1400px !default;

// <576px  Extra small
// ≥576px  Small
// ≥768px  Medium
// ≥992px  Large
// ≥1400px Extra large
