.flash {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #76838f;
  color: #fff;
}

.flash_alert {
  background-color: #f96868;
  color: #fff;
}

.flash_warning {
  background-color: #f2a654;
  color: #fff;
}

.flash_notice {
  background-color: #46be8a;
  color: #fff;
}

.flash_info {
  background-color: #57c7d4;
  color: #fff;
}