.flash {
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #76838f;
  color: #fff;
}

.flash_alert, .flash_error {
  background-color: $error;
  color: #fff;
}

.flash_warning {
  background-color: $warning;
  color: #fff;
}

.flash_notice {
  background-color: $success;
  color: #fff;
}

.flash_info {
  background-color: $info;
  color: #fff;
}