.label {
  display: inline-block;
  margin-bottom: 5px;
}

.input {
  margin-bottom: 20px;
}

#active_admin_content {
  .formtastic {
    legend {
      margin-bottom: 20px;
      font-weight: bold;
    }

    .field_with_errors {
      input {
        border-color: $error;
      }
    }

    .inline-errors {
      color: $error;
      margin-top: 5px;
      margin-bottom: 20px;
      font-size: 14px;
    }

    .actions {

      .action {
        display: inline-block;
        margin-right: 10px;

        input[type="submit"] {
          line-height: 43px;
        }
      }

      .cancel {
        display: inline-block;
      }
    }
  }
}