input[type="text"], input[type="email"], input[type="password"],
input[type="tel"], input[type="date"], input[type="datetime-local"],
input[type="month"], input[type="range"], input[type="search"],
input[type="time"], input[type="url"], input[type="week"],
input[type="number"], textarea {
  @include appearance();
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: -webkit-box-shadow .25s linear,border .25s linear,color .25s linear,background-color .25s linear;
  -o-transition: box-shadow .25s linear,border .25s linear,color .25s linear,background-color .25s linear;
  transition: box-shadow .25s linear,border .25s linear,color .25s linear,background-color .25s linear;

  display: block;
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.57142857;
  color: $text-color;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e4eaec;
  outline: 0;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;

  &:focus {
    border-color: $primary-color;
    @include appearance();
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    -o-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
  }

  &:-webkit-autofill, &:-webkit-autofill:hover, &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: $text-color;
  }
}

input[type="submit"] {
  @include appearance();
  @include primary-button($primary-color, white);
  width: 100%;
  padding: 0 12px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0 1px 0 rgba(0,0,0,.05);
  border: none;
  cursor: pointer;
}

input[type="checkbox"] {
  height: 15px;
  width: 15px;
  -webkit-appearance: none!important;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  box-sizing: border-box;
  @include outline();
  @include transition-button();
  cursor: pointer;

  &:checked {
    border-color: $primary-color;
    background-color: $primary-color;
  }
}

input[type="radio"] {
  @include appearance();
  border: 2px solid $primary-color;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 1px;
  display: inline-flex;
  @include outline();
  @include transition-button();

  &:checked {
    background-color: $primary-color;
  }
}

select {
  background-color: #fff;
  background-image: none;
  border: 1px solid #e4eaec;
  outline: 0;
  border-radius: 3px;
  -webkit-transition: border-color ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s;
  transition: border-color ease-in-out .15s;

  &:focus {
    border-color: $primary-color;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border .25s linear,color .25s linear,background-color .25s linear;
    -o-transition: border .25s linear,color .25s linear,background-color .25s linear;
    transition: border .25s linear,color .25s linear,background-color .25s linear;
  }

  &:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }
}

textarea {
  height: 80px;
  padding: 5px 10px;
}