body.logged_in {
  &.new, &.edit, &.create, &.update {
    @include sidebar-container();

    form {
      
    }

    form legend {
      font-weight: normal;
    }

    fieldset:not(.actions) {
      border-bottom: 2px solid $border-color;
    }

    fieldset.inputs {
      margin-bottom: $space-4;
      @include card();
    }

    .input {
      .label {
        text-align: left;
        margin: auto 0;
        width: 100%;
        margin-bottom: $space-1;
        font-size: $font-md;
      }
      input, textarea {
        width: 100%;

        &[type='radio'] {
          width: $space-4;
          float: left;
          margin-top: 3px;
        }

        &[type='checkbox'] {
          width: $space-4;
          margin: 0 5px -2px 0;
        }
      }

      .select2-container {
        @media screen and (min-width: $screen-sm) {
          width: 50% !important;
        }

        a {
          height: 30px;
          line-height: 30px;
        }
      }

      select {
        min-width: 50%;
        height: 30px;
      }

      select[multiple] {
        height: 100px;
      }

      .fragment {
        margin-right: 10px;

        label {
          padding-right: 5px;
        }

        select {
          min-width: auto;
        }
      }

      &.boolean {
        @include disable-user-select();

        input {
          width: auto;
        }

        label {
          font-size: $font-md;
          cursor: pointer;
          padding: 5px 5px 5px 0;
        }

        input[type='checkbox'] {
          width: $space-4;
          margin: 0 5px -2px 0;
        }
      }

      li.fragment {
        display: inline;
      }

      li.choice {
        .field_with_errors {
          float: left;
        }
      }
    }
  }
}
