@use "sass:math";

body.index {

  .resource_selection_toggle_cell, .resource_selection_cell {
    display: flex;
  }

  .table_tools {
    margin-bottom: $space-4;
    font-size: $font-md;

    &:after {
      content: '';
      display: block;
      clear: both;
    }

    input[type='checkbox'] {
      display: flex;
    }

    .collection_selection_toggle_all {
      display: flex !important;
    }

    .batch_actions_selector {
      display: inline-block;
    }

    .dropdown_menu_button{
      @include secondary-dropdown($button-primary-color);
    }

    .dropdown_menu_list {
      background-color: #fff;
      padding: $space-2 $space-4;
      border-radius: $border-radius;
      @include box-shadow($box-shadow);
      display: inline-block;
      position: absolute;
      z-index: 1;
    }

    .table_tools_segmented_control {
      margin-top: $space-4;
    }
  }

  .paginated_collection_contents {
    margin-bottom: 20px;
    overflow-x: auto;
  }

  #index_footer {
    font-size: $font-md;
  }

  .sortable {
    position: relative;

    &:after {
      @include icon($icon-sort);
      color: $fg-muted;
      font-size: 12px;
      position: absolute;
      top: 50%;
      right: 5px;
      @include transform(translateY(-50%));

      @media screen and (min-width: $screen-md) {
        // font-size: math.div($font-size, 1px);
      }
    }

    &.sorted-desc:after {
      content: "\f0dd";
    }

    &.sorted-asc:after {
      content: "\f0de";
    }
  }

  .table_actions {
    margin-bottom: -4px;

    .member_link {
      @include secondary-button($grey-700);
      padding: 4px 8px;
      margin-right: 4px;
      margin-bottom: 4px;
    }
  }

  .scopes {
    .scope {
      @include group-button($grey-700);
    }
  }

  #sidebar {
    position: fixed;
    transition: .5s;
    transition-timing-function: ease-in-out;
    right: - $filter-width-md;

    &.sidebar_open {
      right: 0;
    }

    @media screen and (min-width: $screen-xl) {
      right: - $filter-width-lg;
    }

    &:before {
      cursor: pointer;
      position: absolute;
      top: 30px;
      left: -40px;
      width: 40px;
      height: 50px;
      background-color: #fff;
      @include box-shadow(-1px 0 4px 0 rgba(0,0,0,.04));
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
      @include icon($icon-filter);
      font-size: 20px;
      padding: $space-4 $space-2;
    }
  }
}
