$red: #b34247;
$green: #2dbb43;
$blue: #4bacfe;

$body-background: #eee !default;
$header-border-color: #e6e6e6 !default;
$left-menu-background: #f5f5f5 !default;

$left-menu-item-hover-background: #f0f0f0 !default;
$left-menu-item-nested-hover-background: #e7e7e7 !default;

$text-color: #5a5a5a !default;
$text-color-important: #526069 !default;

$header-width: 200px !default;
$screen-header-width: calc(100% - 200px) !default;

$sidebar-width: 230px !default;
$screen-sidebar-width: calc(100% - 230px) !default;

$primary-color: $blue !default;