// COLOR
$red: #b34247;
$green: #2dbb43;
$blue: #4bacfe;

$error: #f96868;
$warning: #f2a654;
$success: #46be8a;
$info: #57c7d4;

$body-background: #eee !default;

$header-border-color: #e6e6e6 !default;
$header-background: #fff !default;

$sidebar-border-color: $header-border-color !default;
$sidebar-border-color: #e6e6e6;

$sidebar-background: #f5f5f5 !default;

$left-menu-item-hover-background: #f0f0f0 !default;
$left-menu-item-nested-hover-background: #e7e7e7 !default;

$text-color: #5a5a5a !default;
$text-color-important: #526069 !default;

$primary-color: $blue !default;

// SIZE
$header-width: 200px !default;
$screen-header-width: calc(100% - 200px) !default;

$sidebar-width: 230px !default;
$screen-sidebar-width: calc(100% - 230px) !default;
